$main-color: "#111111";
$main-color-inverse: #dedede;
$accent-1: #213547;
$accent-2: #df4b44;
$accent-3: #00a4e5;
$accent-1-light: #394a5b;
$accent-2-light: #d66863;
$accent-3-light: #39b5de;

$min-page-width: 320px;
$max-page-width: 1280px;

:export {
  mainColor: $main-color
}