@import '../styles/variables.scss';

.main {
  .page-part {
    width: 80vw;
    max-width: $max-page-width;
    min-height: 100vh;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.downloads-cntnr,
    &.socials-cntnr {
      min-height: 260px;
    }
  }
}