@import "../styles/variables.scss";

#mystic-blur {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;

  #mystic-blob-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    #mystic-blob {
      aspect-ratio: 1;
      height: 40vw;
      border-radius: 100%;
      background: linear-gradient(45deg, $accent-2, $accent-3);
      animation: rotating 15s linear infinite, scaling 7.5s linear infinite;
    }

  }

  #blur-element {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(100px);
  }

  @keyframes rotating {
    from {
      rotate: 0deg;
    }

    to {
      rotate: 360deg;
    }

  }

  @keyframes scaling {
    0% {
      scale: 1.5 1;
    }

    50% {
      scale: 1 1.5;
    }

    100% {
      scale: 1.5 1;
    }
  }
}