.downloads-section {
  button {
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    text-transform: uppercase;

    div {
      min-width: 180px;
      padding: 1rem 1rem;
      text-decoration: none;
      color: white;
    }
  }

  button:hover {
    border-color: #192814;
  }
}