.intro {
  scale: calc(1 - 1.2 * var(--scroll));
  filter: blur(calc(10px * var(--scroll)));
  transform: perspective(400px) rotate3d(1, 0, 0, clamp(-25deg, calc(var(--scroll-velocity) * 200deg), 25deg));
  transition: scale 0.25s ease-out, transform 0.25s ease-in-out;
}