@use '../../styles/variables.scss';

.socials-group {
  --logo-padding: 1.5rem;
  width: 60%;
  min-width: 350px;
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  // Styling the button
  .social-button {
    border-radius: 10rem;
    width: calc(24px + calc(2 * var(--logo-padding)));
    height: calc(24px + calc(2 * var(--logo-padding)));
    padding: 0;

    &.email {

      &:has(a:focus),
      &:is(:hover, :focus) {
        border-color: variables.$accent-3;
      }
    }

    &.github {

      &:has(a:focus),
      &:is(:hover, :focus) {
        border-color: variables.$accent-2;
      }
    }

    &.linkedin {

      &:has(a:focus),
      &:is(:hover, :focus) {
        border-color: #2d5efd;
      }
    }
  }

  // Styling the icon
  .logo {
    width: 28px;
    height: 28px;
    padding: var(--logo-padding);
    will-change: filter;
    transition: filter 300ms;

    &.email:hover {
      filter: drop-shadow(0 0 1em variables.$accent-3-light);
    }


    &.github:hover {
      filter: drop-shadow(0 0 1em variables.$accent-2-light);
    }


    &.linkedin:hover {
      filter: drop-shadow(0 0 1em #5e7eff);
    }


  }
}