@import './styles/variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $main-color-inverse;
  background-color: $main-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Scroll animation fixes */
  animation-play-state: paused;
  // animation-delay: calc(var(--scroll-percentage) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#root {
  max-width: $max-page-width;
  margin: 0 auto;
  padding: 0rem 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  min-height: 100svh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #232323;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: #64c6ff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  img {
    box-sizing: content-box;
  }
}


@media (prefers-color-scheme: light) {
  :root {
    color: $accent-1;
    background-color: $main-color-inverse;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f5f5f5;

    a:has(img) {
      filter: brightness(0.2);
    }
  }
}